.header {
    padding: 10px;
    text-align: center;
    background-color: #00ff80;
    background-image:
    linear-gradient(
     to right, #00ff80, #ffffff
    );
    color: white;
    font-size: 30px;
  }
  .course-container {
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(42, 43, 43);
  }
  .course {
    width: 30%;
    float: left;
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    background-image:
    linear-gradient(
      #ffe0cc, #ffffff
    );
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .footer {
    width: 100%;
    text-align: center;
    position: relative;
    color: #b8b894;
    float: left;
  }